input{
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
}
#submitBut{
    border: 1px solid black;
    padding: 5px;
    outline:auto;
}
textarea::placeholder{
    font-family:Arial, Helvetica, sans-serif;
}

textarea{
    border: none;
    line-height: 3ch;
    background-image: linear-gradient(transparent, transparent calc(3ch - 1px), #000000 0px);
    background-size: 100% 3ch;
    resize: none;
    overflow: hidden;
}